.welcome-container {
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  background-color: #242224;
  margin: 0;
  height: 480vh;
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}
.welcome-container h1 {
  font-weight: bold;
  margin: 0.67em 0;
}
.welcome-container h2 {
  font-weight: bold;
  margin: 0.83em 0;
}

.bottom-button {
  background-image: url(/src/Assets/welcome/button-bg.jpg);
  width: 250px;
  height: 70px;
  background-size: 160px;
  color: white;
  font-weight: 800;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  top: 425vh;
  border-radius: 20px;
  left: 50vw;
  margin-left: -125px;
  z-index: 100;
  pointer-events: all;
  cursor: pointer;
}

.bottom-bg {
  background-color: #8d77ed;
  width: 100vw;
  height: 100vh;
  top: 380vh;
  z-index: 50;
  position: absolute;
}

.letter-l {
  margin-top: 100px;
  width: 200px;
  left: 50vw;
  margin-left: -75px;
  position: fixed;
  left: 50vw;
  margin-left: -75px;
}

.letter-a {
  margin-top: 158px;
  position: fixed;
  left: 50vw;
  margin-left: -77px;
  width: 150px;
}

.letter-x {
  margin-top: 85px;
  position: fixed;
  left: 50vw;
  margin-left: -300px;
  transform: scale(0.25);
  transform-origin: 50% 50%;
  width: 600px;
  height: 600px;
}

.letter-x img {
  width: 600px;
  position: absolute;
}

.scroll-down {
  bottom: 90px;
  height: 40px;
  position: fixed;
  width: 300vw;
  left: -100vw;
  font-size: 40px;
  text-align: center;
}

.oooh {
  font-size: 150px;
  position: absolute;
  left: 0;
  top: 140vh;
}

.aaah {
  font-size: 150px;
  position: absolute;
  right: 0;
  top: 170vh;
}

.wheee {
  top: 230vh;
  position: absolute;
  left: 0;
  height: 50px;
  font-size: 100px;
}

.down-arrows {
  bottom: 60px;
  position: fixed;
  left: 50vw;
  width: 70px;
  margin-left: -35px;
  height: 26px;
}

.down-arrows img {
  width: 70px;
  position: absolute;
}

.bubbles {
  top: -100vh;
  position: fixed;
  transform: translate3d(0, 0, 0);
  z-index: 5;
}

.bubble {
  width: 140px;
  height: 140px;
  opacity: 1;
  position: absolute;
}

.bubble.red {
  background: #a94fe4;
}

.bubble.blue {
  background: #68e4f1;
}

.bubble.yellow {
  background: #ffe773;
}

.zags {
  margin-top: 250vh;
  z-index: 100;
  position: relative;
  overflow: hidden;
  height: 150vh;
}

.zag {
  width: 100vw;
  height: 150vh;
  position: absolute;
}

#pinkZag {
  background-image: url(/src/Assets/welcome/pink-zag.png);
  background-size: 200px;
  background-repeat: repeat-x;
  background-position-y: bottom;
}

#tealZag {
  background-image: url(/src/Assets/welcome/teal-zag.png);
  background-size: 200px;
  background-repeat: repeat-x;
  background-position-y: bottom;
}

#purpleZag {
  background-image: url(/src/Assets/welcome/purple-zag.png);
  background-size: 200px;
  background-repeat: repeat-x;
  background-position-y: bottom;
}

.bottom {
  margin-top: 400vh;
}
